.mat-toolbar {
    margin: -24px;
    width: auto;
    margin-bottom: 10px;
}

.title-center {
    flex: 1 1 auto;
    text-align: center;
}

.mat-form-field {
    padding: 5px;
}

.column {
    display: flex;
    flex-direction: column;
}


.align-row {
    display: flex;
    flex-direction: row;
}

.space {
    width: 50%;
}