<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li>
                <a href="/assets/img/p1.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/p1.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Product 1</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam tenetur
                            reprehenderit sit quia dolor, expedita iure omnis. Sint consequatur labore provident
                            molestias aliquid est adipisci optio necessitatibus sequi! Adipisci, doloribus?</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="/assets/img/p2.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/p2.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Product 2</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ex id, et
                            sequi eos, aperiam odio itaque dolorem, animi aliquid a molestiae. Voluptate hic est sequi,
                            corporis itaque praesentium sit?.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="/assets/img/p3.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/p3.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Product 3</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis eveniet
                            nihil ipsam, voluptatem earum odio suscipit assumenda? Cumque consectetur id sed aut vel
                            earum delectus facere, iure ipsa dolorum asperiores?.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="/assets/img/p4.jpeg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/img/p4.jpeg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Product 4</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum mollitia
                            consectetur, nam maxime ex doloribus molestiae voluptatem, nulla reprehenderit, dolores
                            dolor. Ex, assumenda eveniet tenetur non natus ratione facere aliquam?</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Organization!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>